.specific {
    .banner-image {
        background-size: cover;
        margin: auto;
        top: 100px;
        color: transparent;
        position: relative;
        width: 1000px;
        height: 600px;
        background-image: url(../images/restorative.jpg);
        -webkit-text-stroke: 1px black;
        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 70px;
            letter-spacing: 15px;
        }
    }
    .data-sec {
        margin: 0 auto;
        position: relative;
        width: 900px;
        height: auto;
        background-color: white;
        h1 {
            padding-top: 55px;
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 10px;
            text-align: center;
        }
        p {
            font-style: italic;
            padding: 25px 100px 25px 100px;
            text-align: left;
            font-size: 18px;
            line-height: 20px; 
            .title {
                color:maroon; 
                font-weight: 600;
            } 
            .title-contact{
                color:black; 
                padding: 0;
            }
        }
        table{
            border: 1px solid black;
            width: 700px;
            margin: 0 auto 100px auto;
            border-spacing: 5px;
        }
        th {
            border: 1px solid black;
             padding: 15px;
        }
        td {
            border: 1px solid black;
             padding: 15px;
        }
        .schedule {
            display: inline-block;
            width: 49%;
            height: 60px;
            border: 1px solid white;
            background-color: maroon;
            text-align: center;
            h2 {
                color: white;
                padding: 5px;
                font-size: 25px;
            }
        }
        .schedule-details {
            border: 1px solid maroon;
            background-color: white;
            text-align: left;
            h3 {
                text-align: left;
                margin-left: 5px;
                line-height: 25px;
            }
            
        }
        .speaker-wrapper {
            width: 900px;
            height: 375;
            border: 5px solid maroon;
            padding-bottom: 10px;
            img {
                margin: 5px;
                display: inline-block;
                float: left;
            }
            .details {
                display: inline-block;
                width: 640px;
                height: 375px;
                background-color: white;
                position: relative;
                p {
                    padding: 0px;
                    font-size: 14px;
                    .title {
                    font-size: 20px;
                    }
                }
            }
            h4 {
                margin: 5px;
            }
        }
        .data-image {
            padding: 40px 0 150px 0;
            margin: 0 auto;
            width: 500px;
            .overlay {
                margin: 0 auto;
                height: 333px;
                width: 500px;
                position: absolute;
                background: rgba(219,220,221, .3);
                z-index: 2;
            }
            img {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}