.footer {
	text-align: center;
	padding: 20px;
	h2 {
		color: $color-blue;
		text-transform: uppercase;
		font-weight: 600;
	}h3 {
        float:left;
		color: $color-gray;
		text-transform: uppercase;
		font-weight: 400;
	}
}