/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Montserrat", sans-serif; }

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 1px 1px 10px 1px #d2dae2; }
  header .wrapper nav {
    width: 100%;
    text-align: center; }
    header .wrapper nav ul li {
      border-top: 5px solid #FFFFFF;
      box-sizing: border-box;
      display: inline-block;
      margin: 0 30px 0 30px;
      text-transform: uppercase;
      font-weight: 600;
      vertical-align: middle; }
      header .wrapper nav ul li:hover {
        border-top: 5px solid #0097e6; }
      header .wrapper nav ul li.logo {
        text-indent: -1000000px;
        background-image: url("../images/logo.png");
        background-size: cover;
        width: 100px;
        height: 100px; }
        header .wrapper nav ul li.logo:hover {
          border-top: 5px solid #FFFFFF; }
      header .wrapper nav ul li.products-link {
        position: relative; }
        header .wrapper nav ul li.products-link .products {
          margin-left: -30px;
          visibility: hidden;
          width: 200%;
          background: #FFFFFF;
          position: absolute;
          left: 0; }
          header .wrapper nav ul li.products-link .products li {
            margin-left: 0px;
            display: block;
            width: 100%;
            border: 0; }
            header .wrapper nav ul li.products-link .products li:hover {
              border: 0;
              background-color: #0097e6; }
              header .wrapper nav ul li.products-link .products li:hover a {
                color: #FFFFFF; }
            header .wrapper nav ul li.products-link .products li a {
              padding: 15px 0; }
            header .wrapper nav ul li.products-link .products li.product-link-2 {
              position: relative; }
              header .wrapper nav ul li.products-link .products li.product-link-2 .inside-product {
                visibility: hidden;
                position: absolute;
                top: 0;
                right: -100%; }
                header .wrapper nav ul li.products-link .products li.product-link-2 .inside-product ul li {
                  background-color: #0097e6; }
                  header .wrapper nav ul li.products-link .products li.product-link-2 .inside-product ul li a {
                    color: #FFFFFF; }
                  header .wrapper nav ul li.products-link .products li.product-link-2 .inside-product ul li:hover {
                    background-color: #FFFFFF; }
                    header .wrapper nav ul li.products-link .products li.product-link-2 .inside-product ul li:hover a {
                      color: #0097e6; }
              header .wrapper nav ul li.products-link .products li.product-link-2:hover .inside-product {
                visibility: visible; }
      header .wrapper nav ul li.products-link:hover .products {
        visibility: visible; }
      header .wrapper nav ul li a {
        padding: 40px 0;
        color: #0097e6;
        text-decoration: none;
        display: block; }

.product-container .wrapper {
  padding-top: 180px;
  margin-bottom: 80px; }
  .product-container .wrapper h2 {
    color: #333;
    font-weight: 700; }
    .product-container .wrapper h2 a {
      color: #333;
      text-decoration: none; }
  .product-container .wrapper .products {
    padding-top: 50px; }
    .product-container .wrapper .products img {
      margin: auto;
      width: 1000px; }

.contact {
  background-color: #0097e6;
  text-align: center;
  padding-top: 80px; }
  .contact h1 {
    color: #FFFFFF;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px; }
  .contact .wrapper .left, .contact .wrapper .right {
    padding: 40px;
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    vertical-align: top; }
  .contact .wrapper .left {
    text-align: left; }
    .contact .wrapper .left ul li {
      font-size: 18px;
      margin-bottom: 40px;
      color: #FFFFFF; }
  .contact .wrapper .right input, .contact .wrapper .right textarea {
    display: block;
    width: 80%;
    margin: 0 auto;
    background: none;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    font-size: 18px; }
    .contact .wrapper .right input::placeholder, .contact .wrapper .right textarea::placeholder {
      color: #FFFFFF;
      opacity: .5;
      text-transform: uppercase; }
  .contact .wrapper .right textarea {
    height: 200px;
    max-width: 80%;
    min-width: 80%;
    max-height: 200px; }
  .contact .wrapper .right input[type="submit"] {
    background: #FFFFFF;
    color: #0097e6;
    box-sizing: border-box;
    padding: 15px 0; }

.footer {
  text-align: center;
  padding: 20px; }
  .footer h2 {
    color: #0097e6;
    text-transform: uppercase;
    font-weight: 600; }
  .footer h3 {
    float: left;
    color: #d2dae2;
    text-transform: uppercase;
    font-weight: 400; }

/*# sourceMappingURL=product.css.map */
